.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.adminsidebar {
  list-style: none;
}

.test {
  color:#2f3133;
}

.adminsidebar a {
  color: #8890b5;
}

.adminsidebar a:hover {
  color: #8890b5;
  text-decoration: none;
}

.topbar {
  height: 250px;
  background-color: #cd1818;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 50px;
}

.admin-title {
  color: white;
  margin-left: 30px;
}

.admin-content {
  width: 95%;
  background-color: #f5f6ff;
  position: relative;
  bottom: 100px;
  left: 35px;
  border-radius: 15px;
  padding-bottom: 40px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.side-bar {
  box-shadow: 0 12px 30px rgba(80, 143, 244, .1);
}